.form-container{
    display: flex;
    flex-direction: column;
    height: 585px;
    width: 380px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    margin-left: -1%;
}
.close{
    background: #3584a7;
    margin-left: 340px;
    margin-top: 9px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
input, select, div{
    outline: none;
}
.form-demo-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}
.form-demo-link,.terms-conditions{
    color: royalblue;
}
.terms-text{
    width: 84%;
    word-wrap: break-word;
    font-size: 12px;
    margin-top: 25px;
}
.form-label{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    width: 84%;
    margin-top: 10px;
    text-align: left;
}
.label::after{
    content: "*";
    color: red;
}
.form-input{
    border: 2px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    line-height: 28px;
    width: 85%;
}
#other{
    margin-top: 10px;
    border-color: blue;
    display: none;
}
.form-input > input{
    border-radius: 0px;
    border: 0px;
    line-height: 28px;
    font-size: 16px;
}
.form-select{
    padding: 1% 0% 1% 1%;
    background-color: white;
    cursor: pointer;
    color: lightslategrey;
}
.form-select > option{
    color: #000000;
}
.form-select > option:nth-child(1){
    color: lightslategrey;
}
.time-selection{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
.time-selection-option{
    width: 25%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.time-selection-option:nth-child(2),.time-selection-option:nth-child(3){
    margin: 0% 5%;
}
.time-selection-option:nth-child(2){
    margin-right: 0%;
}
.time-selection-option-color{
    background: linear-gradient(90deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    border-radius: 10px;
    color: #FAFAFA;
    border: none;
}
.PhoneInput{
    padding: 0px 10px;
}
.form-continue{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(90deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-top: 10px;
    cursor: pointer;
    padding: 2px 10%;
}

.close-container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 5px 10px 0px 0px;
    outline: none;
}
@media screen and (max-width:800px){
    .form-container{
        width: 100%;
        margin: 0%;
        height: fit-content;
    }
    .terms-text{
        margin-bottom: 15px;
    }
    .close{
        margin-left: 380px;
    }
}
@media screen and (max-width:420px){
    .close{
        margin-left: 320px;
    }
}